* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.w {
  color: #22223b;
}

.wbutton,
.abutton,
.cbutton {
  height: auto;
  background-color: transparent;
  border-color: transparent;
  padding-inline: 20px;
}

.wbutton img {
  width: 450px;
  height: 450px;
  box-shadow: -2px 5px 20px 5px #c9ada7;
}

.abutton img {
  width: 450px;
  height: 450px;
  height: auto;
  box-shadow: -2px 5px 20px 5px #c9ada7;
}

.music_header,
.music_header1 {
  width: 100%;
  translate: 0% -200%;
}

.cbutton img {
  width: 450px;
  height: 450px;
  height: auto;
  box-shadow: -2px 5px 20px 5px #c9ada7;
}

.welcomerecords {
  translate: 10% 50%;
  position: absolute;
  -webkit-animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

header {
  color: #22223b;
  text-align: center;
  font-size: 100px;
  translate: 0% 130%;
}

body {
  background-image: radial-gradient(#f2e9e4 70%, #c9ada7);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Abril Fatface", serif;
}

.wbutton:hover {
  animation: pulsing 2s forwards;
}

.abutton:hover {
  animation: pulsing 2s forwards;
}

.cbutton:hover {
  animation: pulsing 2s forwards;
}

.wbutton img:hover,
.abutton img:hover,
.cbutton img:hover {
  box-shadow: -2px 5px 20px 5px #22223b;
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
    box-shadow: #4a4e69;
  }

  100% {
    transform: scale(1);
  }
}

.wttx {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  height: 110px;
  translate: 1% -100%;
  width: 1640px;
}

.attx {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 36px;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  height: 580px;
  translate: 5%;
}

.wsect {
  translate: none;
  position: relative;
  translate: 0% -12%;
}


.contact {
  translate: 0 -2%;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}


.rpmg1 {
  width: 600px;
  height: 600px;
  background-image: radial-gradient(#3e2c25 60%, #231915);
  border-radius: 15px;
  translate: 170% -100%;
}

.rpmg2 {
  width: 250px;
  height: 250px;
  background-image: radial-gradient(#3e2c25 60%, #231915);
  border-radius: 15px;
  translate: 150% -360%;
}

.rpmg3 {
  width: 600px;
  height: 600px;
  background-image: radial-gradient(#3e2c25 60%, #231915);
  border-radius: 15px;
  translate: 120% -90%;
}

.backbtn1 {
  width: 50px;
  height: 20px;
  transform: scale(80%);
  translate: 250% -4450%;
}

.backbtn2 {
  translate: 560% -1490%;
  width: 80px;
  height: 40px;
}

.backbtn3 {
  translate: 500% -700%;
  width: 90px;
  height: 50px;
}

.backbtn1 img {
  width: 50px;
  height: 30px;
  translate: -8px -8px;
}

.backbtn2 img {
  width: 80px;
  height: 50px;
  translate: -5px -8px;
}

.backbtn3 img {
  width: 90px;
  height: 70px;
  translate: -5px -12px;
}

.nextwork {
  width: 50px;
  height: 20px;
  transform: scale(80%);
  translate: 230% -4450%;
}

.nextabout {
  translate: 560% -1490%;
  width: 80px;
  height: 40px;
}

.nextcontact {
  translate: 500% -700%;
  width: 90px;
  height: 50px;
}


.nextwork img {
  width: 50px;
  height: 30px;
  translate: -8px -8px;
  transform: rotate(180deg);
}

.nextabout img {
  translate: -10px -8px;
  width: 80px;
  height: 50px;
  transform: rotate(180deg);
}

.nextcontact img {
  width: 90px;
  height: 70px;
  translate: -15px -12px;
  transform: rotate(180deg);
}

.workimg {
  translate: 13% -415%;
  width: 225px;
  animation: 5s linear spinThat infinite;
  animation-delay: 5s;
}

.aimg {
  translate: 50% -120%;
  width: 560px;
  animation: 5s linear spinThat infinite;
  animation-delay: 5s;
}

.mauahah {
  translate: 130% -210%;
  width: 560px;
  animation: 5s linear spinThat infinite;
  animation-delay: 3s;
}

.needle3 {
  translate: 362% -435%;
  width: 60%;
  rotate: -30deg;
  animation: mymove1 5s forwards;
}

@keyframes mymove1 {
  100% {
    translate: 355% -435%;
    rotate: -12deg;
  }
}

@keyframes move {
  0% {
    translate: 2% -210%;
  }

  100% {
    translate: 130% -210%;
  }
}

.h1 {
  translate: 0 -90%;
  background-color: #22223b;
  border-radius: 15px;
  border-style: double;
  border-width: 10px;
  border-color: #4a4e69;
  color: #f2e9e4;
}

.h2 {
  translate: 0 -120%;
  border-radius: 15px;
  border-style: double;
  border-width: 10px;
  background-color: #22223b;
  border-color: #4a4e69;
  color: #f2e9e4;
}

.play {
  text-align: center;
  translate: 0% 400px;
  font-size: 600%;
  display: none;
  animation: fade-out 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.track1 {
  text-align: center;
  font-size: 600%;
  translate: 0% 300%;
  -webkit-animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  visibility: collapsed;
}

.track2 {
  text-align: center;
  font-size: 600%;
  translate: 0% 200%;
  -webkit-animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  visibility: collapsed;
}

.track1,
.track2 {
  color: #22223b;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.track1,
.track2,
.track3 {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spinThat {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.work {
  display: none;
}

.about {
  display: none;
}

.contact {
  display: none;
}

#vinyl-gallery * {
  all: unset;
}

#vinyl-gallery {
  all: initial;
  width: 100%;
  height: 230px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: -6px;
}

#vinyl-gallery .vinyl {
  perspective: 500px !important;
  width: 18px;
  transition: width 0.5s;
}

#vinyl-gallery .vinyl:hover {
  width: 148px;
}

#vinyl-gallery img {
  transition: transform 0.5s, width 0.5s, height 0.5s, margin-top 0.5s;
  width: 180px;
  height: 180px;
  transform: rotateX(0deg) rotateY(25deg);
  transform-style: preserve-3d;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

#vinyl-gallery .vinyl:hover img {
  transform: rotateX(0deg) rotateY(10deg);
  width: 188px;
  height: 188px;
  margin-top: -2px;
}

#vinyl-gallery .title {
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 16%;
  padding-left: 6px;
  translate: 15%;
  border-radius: 15px;
  border-style: double;
  border-width: -05px;
  color: #f2e9e4;
  background-color: #22223b;
}

#vinyl-gallery .vinyl:nth-child(n):hover+.title {
  visibility: visible;
}

.w1 {
  translate: 80% -150%;
  transform: scale(250%);
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: lighter;
  font-style: normal;
}


.needle {
  translate: 415% -690%;
  width: 20%;
  rotate: -30deg;
  animation: mymove 5s forwards;
}

@keyframes mymove {
  100% {
    translate: 399% -690%;
    rotate: -12deg;
  }
}

.needle2 {
  translate: 415% -285%;
  width: 20%;
  rotate: -30deg;
  animation: mymove2 5s forwards;
}

@keyframes mymove2 {
  100% {
    translate: 395% -285%;
    rotate: -12deg;
  }
}

#vinyl-gallery {
  transform: scale(105%);
  translate: 2% -269%;
}

@keyframes slide-down {
  0% {
    transform: rotateX(0deg) rotateY(25deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    translate: 0% 130%;
  }
}

p, li {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.apsec {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
  translate: 5% 100%;
  width: 1500px;
  visibility: hidden;
}

.misec {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
  translate: 5% 105%;
  width: 1500px;
  visibility: hidden;
}

.ipsec {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
  translate: 5% 110%;
  width: 1500px;
  visibility: hidden;
}

.monsec {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
  translate: 5% 115%;
  width: 1500px;
  visibility: hidden;
}

.robsec {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
  translate: 5% 120%;
  width: 1500px;
  visibility: hidden;
}

@keyframes slide-down2 {
  0% {
    transform: rotateX(0deg) rotateY(25deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    translate: 9% 243%;
  }
}

@keyframes slide-down3 {
  0% {
    transform: rotateX(0deg) rotateY(25deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    translate: 20% 355%;
  }
}

@keyframes slide-down4 {
  0% {
    transform: rotateX(0deg) rotateY(25deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    translate: 28% 470%;
  }
}

@keyframes slide-down5 {
  0% {
    transform: rotateX(0deg) rotateY(25deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
    translate: 38% 582%;
  }
}

.aptxt,
.mitxt,
.ihtxt,
.montxt,
.robtxt {
  font-size: 25px;
  translate: 80%;
  text-align: left;
  font-display: auto;
  width: 800px;
  height: 1000px;
  line-height: 1;
  letter-spacing: 3px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.list,
.list2 {
  font-size: 27px;
  translate: 99% -86%;
  text-align: left;
  font-display: auto;
  width: 600px;
  height: 1000px;
  line-height: 2;
}
.list3 {
  font-size: 27px;
  translate: 99% -85%;
  text-align: left;
  font-display: auto;
  width: 600px;
  height: 1000px;
  line-height: 2;
}
.list4 {
  font-size: 27px;
  translate: 99% -83%;
  text-align: left;
  font-display: auto;
  width: 600px;
  height: 1000px;
  line-height: 2;
}
 .list5 {
  font-size: 27px;
  translate: 99% -83%;
  text-align: left;
  font-display: auto;
  width: 600px;
  height: 1000px;
  line-height: 2;
 }
li {
  list-style: none;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.work {
  translate: 0% -3%;
}


.h3 {
  border-radius: 15px;
  border-style: double;
  border-width: 10px;
  background-color: #22223b;
  border-color: #4a4e69;
  color: #f2e9e4;
  visibility: hidden;
  translate: 0% -250%;
}

.cbutton img {
  width: 450px;
  height: 450px;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 450px;
    height: 450px;
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-550px);
    transform: translateX(-550px);
    width: 500px;
    height: 500px;
    translate: -80% -30%;
    opacity: 0;
    -webkit-transform: translateZ(-260px) rotateY(-180deg);
    transform: translateZ(-260px) rotateY(-180deg);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 450px;
    height: 450px;
    opacity: 1;
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }

  100% {
    -webkit-transform: translateX(-550px);
    transform: translateX(-550px);
    width: 600px;
    height: 600px;
    -webkit-transform: translateZ(-130px) rotateY(-90deg);
    transform: translateZ(-130px) rotateY(-90deg);
    translate: -150% -30%;
  }
}

.cbutton.no-hover:hover,
.cbutton.no-hover img:hover {
  animation: none !important;
  box-shadow: none !important;
}

.disk3-replacement {
  width: 600px;
  height: 600px;
  box-shadow: -2px 5px 20px 5px #c9ada7;
  border-radius: 4%;
  /* to match the record look, if needed */
  transform: translate(-200%, -30%);
  transform: translateZ(-130deg);
  transform: rotateY(-90deg);
}

@keyframes flip-vertical-bck {
  0% {
    -webkit-transform: translateZ(130deg) rotateY(90deg);
    transform: translateZ(130deg) rotateY(90deg);
  }

  100% {
    -webkit-transform: translateZ(260px) rotateY(180deg);
    transform: translateZ(260px) rotateY(180deg);
  }
}

.cdback {
  position: absolute;
  translate: 54% -55%;
  font-size: 30px;
  width: 500px;
  height: 500px;
  color: #f2e9e4;
  display: none;
  animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-delay: 1s;
}

a {
  color: #eae0d5;
}

.recwork {
  display: none;
}

.about {
  translate: 0% -2.1%;
}


.abimg1,
.abimg2,
.abimg3 {
  width: 470px;
  height: 470px;
  translate: 10% -250%;
  flex-direction: row;
  margin-left: 2%;
}

.newbtns {
  translate: 60% -320%;
}

.abimg2 {
  rotate: -9deg;
  perspective: 3.5em;
}

.abimg1 {
  perspective: 3.5em;
}

.abimg3 {
  rotate: 9deg;
  perspective: 3.5em;
}

.overlay {
  transition: .5s ease;
  color: #22223b;
}

.overlaytxt1 {
  translate: 18% 860%;
  font-size: 60px;
}

.overlaytxt2 {
  translate: 45% 750%;
  font-size: 60px;
}

.overlaytxt3 {
  translate: 75% 650%;
  font-size: 60px;
}

.robotxt {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 240px;
  translate: 50% -310%;
  text-align: center;
}

.gradtxt {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 240px;
  translate: 200% -410%;
  text-align: center;
}

.nextxt {
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 240px;
  translate: 350% -505%;
  text-align: center;
}

.abtmeinfo {
  translate: 0% -34%;
  visibility: hidden;
}

.imgabs {
  visibility: hidden;
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.welcomemeow {
  translate: 0 -30%;
}

.ccctext {
  translate: 0% -10%;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #22223b;
  visibility: hidden;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #f2e9e4;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #c9ada7;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #4a4e69;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #c9ada7;
}

.contact-inputs::placeholder {
  color: #c9ada7;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  color: #c9ada7;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#22223b, #4a4e69, #726d81);
  cursor: pointer;
}

.contact-container {
  width: 700px;
  height: 700px;
  border-radius: 5%;
  translate: 25% 50%;
}

.credlist {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.creds {
  width: 500px;
  translate: 170% -45%;
  background-color: #22223b;
  color: #f2e9e4;
  padding: 2%;
  border-radius: 5%;
  font-size: 150%;
  visibility: hidden;
}

.credtxt {
  color: #f2e9e4;
}

.meows2 {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #c9ada7;
  border-radius: 10px;
  margin-bottom: 20px;
}
