.disk1 {     
  width: 350px; 
  box-shadow: -2px 5px 20px 5px black;
  margin-right: 30px
  ;
} 
.disk2 {     
  width: 350px; 
  box-shadow: -2px 5px 20px 5px black;
  margin-right: 30px;
} 
.disk3 {     
  box-shadow: -2px 5px 20px 5px black;
  width: 350px; 
} 
.Welcome_records {
  margin-left: 15%;
  margin-top: 10%;
} 
  h1 {     
    color: black;     
    text-align: center;     
    font-size: 50px; 
  } 
  body {     
    background-color: antiquewhite; 
  } 